footer .main-section
{
    @extend .row;
    width: 100%;

    padding-left: 64px;
    padding-right: 64px;

    padding-top: 32px;
    padding-bottom: 32px;
}

footer .main-section .widgetizedArea
{
    @extend .col-md-3;

    padding-left: 16px;    
    padding-right: 16px;

    padding-top: 32px;
    padding-bottom: 32px;
}

footer .main-section .widgetizedArea h3 
{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

footer .main-section .widgetizedArea p
{
    color: white;
}

footer .main-section .widgetizedArea ul
{
    padding:0px;
    margin:0px;
    list-style: none;
}

footer .main-section .widgetizedArea ul li 
{
    color:white;
}

#ui-footer-misc 
{

    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0px;
}

#ui-footer-misc #ui-footer-copyright p
{
    @extend .py-2;
    margin:0px;

    text-align: center;
    color: white;
    font-size: 12px;
}

#ui-footer-misc ul
{
    display: flex;
    justify-content: center;

    margin:0px;
    padding: 0px;

}


#ui-footer-misc ul li
{
    @extend .py-2;
    @extend .px-3;

    margin:0px;
    padding: 0px;

    list-style: none;
}

#ui-footer-misc ul li a
{
    text-transform: capitalize;
}

#miscellaneous
{
    display: flex;
    justify-content: center;

}

.miscellaneous-menu
{
    @extend .nav;

}

.miscellaneous-menu .miscellaneous-button
{
    @extend .nav-item;
}

.miscellaneous-menu .miscellaneous-button .miscellaneous-link
{
    @extend .nav-link;
    font-size: 12px;
}

footer .main-section .widgetizedArea ul li 
{
    @extend .my-1;
}

#miscellaneous-navigation
{
    justify-content: center;
}

#miscellaneous-navigation li 
{
    @extend .my-1;
    @extend .mx-2;
    
    font-size: 14px;
}

.hide-cookie
{
    transform: translate( calc(-100% + 90px), 0px ) !important;
}

#cookie-policy
{
    @extend .py-3;
    @extend .px-2;

    transform: translate( -10px, 0px );
    
    display: grid;

    grid-template-columns: auto 75px;
    grid-gap: 32px;

    position: fixed;
    width: 75%;

    bottom: 0px;
}

#cookie-policy .main-section
{
    @extend .py-2;
    @extend .px-4;

    background-color: $secondary-color;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

#cookie-policy .button 
{
    color: white;

    background-color: $color-2;
    border-radius: 100%;

    cursor: pointer;

    display: flex;

    justify-content: center;
    align-items: center;

    height: 60px;
    width: 60px;

    font-size: 35px;
    
}

#cookie-policy .position-action
{
    height: 100%;

    display: flex;
    
    justify-content: center;
    align-items: center;   
}

#cookie-policy p
{
    color: white;
}

#cookie-policy label
{
    color: white;
}

#cookie-policy div ul
{
    
}

#cookie-policy div li
{
    
    color: white;
    list-style:disc;
    
    margin-left:20px;
}

@media only screen and (max-width: 768px) 
{
    #miscellaneous-navigation
    {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #miscellaneous-navigation li 
    {
        text-align: center;
        width: 100%;
    }
    
    footer .main-section .widgetizedArea ul
    {
        
    }

    footer .main-section .widgetizedArea ul li 
    {
        width: 100% !important;
        text-align: center;
    }

    footer .main-section .widgetizedArea ul li a
    {
        
    }

    #cookie-policy
    {
        transform: translate( 0px, 0px );
        width: 100%;
        grid-template-columns: auto;
    }

    #cookie-policy .main-section
    {
        display: grid;
    
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 24px;
    }

    .hide-cookie
    {
        display: none !important;
    }
}