h1 
{
    font-family: $title_font;
    text-align: center;

}

h2 
{
    font-family: $title_font;

}

h3 
{
    font-family: $title_font;
}

h4
{
    font-family: $title_font;
}

h5 
{
    font-family: $title_font;
}