
/* Removes the wordpress header menu, that's at the top of the page. When logged-in as admin or user. */ 
#wpadminbar
{
    display: none;
}

/* Removal of components that isn't / hasn't been developed */
.not-developed
{
    display: none !important;
}

// Removes the capcha sign, that usually sits in the right cornor of the screen.
.grecaptcha-badge { visibility: hidden; }
