$primary-color: #6ad1ff !default;
$secondary-color: #344656 !default;
$background-color: #ecf0f1;

$title_font: 'comfortaa', sans-serif;
$body_font: 'open sans', sans-serif;

body 
{
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

    background-color: $background-color;

    grid-gap: 0px;

    margin: 0px;
    padding: 0px;

    min-width: 100%;
}


@import './base.scss';
@import './header.scss';
@import './ui.scss';

@import './footer.scss';

@import './heading.scss';
@import './page.scss';


main 
{
    display: block;
}

#introduction-page-cover
{
    
    @extend .bg-dark;
    position: relative;

    height: 500px;
}

#introduction-page-cover .elements
{
    @extend .container;
    height: 100% !important;
}

#introduction-page-cover .elements .introduction
{
    @extend .row;
    @extend .h-100;
    
    align-content: center !important;
}

#introduction-page-cover .elements .introduction .header 
{
    @extend .col-12;
    @extend .text-center;
}

#introduction-page-cover .elements .introduction .header .title
{
    @extend .font-weight-light;
    color: white;
    font-size: 3.0rem;
}

#introduction-page-cover .elements .introduction .header .description
{
    @extend .lead;
    color: white;
    font-size: 2.0rem;
}

.header-cover-image
{
    opacity: 0.25;
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    position: absolute;

    top: 0px;
}

.short-button
{
    @extend .btn;
    @extend .btn-primary;
}

#component-frontpage-showcase
{

}

#component-frontpage-showcase .tabs 
{

}


#component-frontpage-showcase .component-container .tabs ul
{
    @extend .py-3;

    list-style: none;
    width: 100%;
    
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#component-frontpage-showcase .component-container .tabs ul li 
{
    @extend .px-4;
    
}

#component-frontpage-showcase .component-container .tabs .tab
{
    

}

.clickable
{
    cursor: pointer;
}

.active
{
    text-decoration: underline;
}

.component-tab-view
{
    width: 100%;
    height: 400px;
}

.component-container
{
    
    background-color: white;
}


@import './components/contact-us.scss';

@import './components/archive.scss';

@import './components/404.scss';

@import './framework/bootstrap/bootstrap.scss';