$color-1: #f28705;
$color-2: #f27405;
$color-3: #f25c05;
$color-4: #bf4215;

$active-color: #2ecc71;

$primary-color: #6ad1ff !default;
$secondary-color: #344656 !default;

$background-color: #ecf0f1;

$primary   : $color-3;
$secondary : $color-3;

$title_font: 'comfortaa', sans-serif;
$body_font: 'open sans', sans-serif;

.hide-firstpage
{
    display: none;
}

.active-link
{
    color: $active-color;
    text-decoration: none !important;
}

.active-link:hover
{
    color: $active-color;
    text-decoration: none !important;
}

.component-about-us-values 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
}

.component-about-us-values
{
    @extend .my-4;

}

.become-tester .wpcf7
{
    display: flex;
    justify-content: center;
}

.become-tester span 
{
    @extend .form-group;
}

.become-tester span:last-child
{
    @extend .form-group;
    width: 100%;
    display: flex;
    justify-content: center;
}

.become-tester .ajax-loader
{
    display: none !important;
}

.become-tester .wpcf7-email
{
    @extend .form-control;
}

.become-tester .wpcf7-submit
{
    @extend .btn;
    @extend .btn-primary;
}

.component-about-us-values .value div
{
    @extend .py-3;

    width: 100%;
    
    display: flex;
    justify-content: center;

    font-size: 86px;
    
    color: $color-2;

}

.component-about-us-values .value p
{
    @extend .my-2;
    text-align: center;
    font-weight: bold;
    font-style: 'comfortaa';

}

@import './page/faq.scss';
@import './page/products.scss';

@import './attributes.scss';

@import './base.scss';
@import './header.scss';
@import './ui.scss';

@import './footer.scss';

@import './heading.scss';
@import './page.scss';
@import './states.scss';

@import './components/contact-us.scss';
@import './components/breadcrumb.scss';

@import './components/archive.scss';

@import './components/404.scss';

@import './some.scss';
@import './settings.scss';

html 
{
    height: 100%;
    scroll-behavior: smooth;
}

body 
{
    background-color: $secondary-color;

    margin: 0px;
    padding: 0px;
}

header 
{
    display: block;
}

main 
{
    display: block;
}

footer 
{
    background-color: $secondary-color;
}


.show p 
{
    display: block !important;
    
}

#introduction-page-cover
{
    position: relative;
    background-color: $secondary-color;

    height: 500px;
}


.header-cover-image
{
    opacity: 0.25;

    width: 100%;
    height: 100%;
    
    object-fit: cover;
    position: absolute;

    top: 0px;
}


.short-button
{
    @extend .btn;
    @extend .btn-primary;
    @extend .mx-3;
}

.hide-object 
{   
    display: none !important;
}

#component-frontpage-showcase
{

}

#component-frontpage-showcase .tabs 
{

}

#component-frontpage-showcase .component-container .tabs ul
{
    @extend .py-3;

    list-style: none;
    width: 100%;
    
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#component-frontpage-showcase .component-container .tabs ul li 
{
    @extend .px-4;
    
}

#component-frontpage-showcase .component-container .tabs .tab
{
    

}

.active
{
    text-decoration: underline;
}

.component-tab-view
{
    width: 100%;
    height: 400px;
}

.component-container
{
    
    background-color: white;
}

.about-us
{
    @extend .container;
}

.about-us h1 
{
    @extend .my-3;
}

.about-us p 
{
    @extend .my-3;
}

@media only screen and (max-width: 1024px) {
    .page-products-page
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;            
    }

    .component-about-us-values 
{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
    
}

@media only screen and (max-width: 768px) {
    .component-about-us-values 
    {
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr  1fr 1fr;
    }

    .shortcut-section .shortcuts ul
    {
        display: flex !important;
        flex-direction: column !important;
    }

    .shortcut-section .shortcuts ul li 
    {
        width: 100% !important;

        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    #desktop-portal-navigation
    {
        display: none;
    }

    .shortcut-section .shortcuts ul li a
    {
        
    }
}

@import './framework/bootstrap/bootstrap.scss';