$color-1: #f28705;
$color-2: #f27405;
$color-3: #f25c05;
$color-4: #bf4215;

$primary-color: #6ad1ff !default;
$secondary-color: #344656 !default;

$background-color: #ecf0f1;

$primary: $color-3;
$secondary:  $color-3;

$title_font: 'comfortaa', sans-serif;
$body_font: 'open sans', sans-serif;

.hide-on-desktop
{
    display:none;
}

.hide-on-mobile
{
    display: block;
}

html 
{
    height: 100%;
}

body 
{
    background-color: $secondary-color;

    margin: 0px;
    padding: 0px;
}

header 
{
    display: block;
}

main 
{
    display: block;
}

footer 
{
    background-color: $secondary-color;
}


.page-products-page
{
    @extend .container;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 0px;
    padding:0px;
}

@media only screen and (max-width: 1024px) {
    .page-products-page
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;            
    }
    
}

.page-product-element
{
    @extend .my-2;
    display: grid;
    
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 32px;
}

.product-text-container
{
    grid-column: span 2;
}

.page-product-element img 
{
    
}


@import './base.scss';
@import './header.scss';
@import './ui.scss';

@import './footer.scss';

@import './heading.scss';
@import './page.scss';

#faq
{
    @extend .container;
}

#faq ul li 
{
    @extend .card-body;
}


#faq ul li h3
{
    @extend .py-3;
    border-bottom:1px solid $secondary-color;
}



#faq ul li:hover h3 
{
    color: $color-2;
    border-bottom:1px solid $color-2;
}


#faq ul li:hover
{
    cursor: pointer;
}

#faq ul li p
{
    @extend .card-text;
    visibility: hidden;
}

.show p 
{
    visibility: visible !important;
}


#introduction-page-cover
{
    position: relative;
    background-color: $secondary-color;

    height: 500px;
}

#introduction-page-cover .elements
{
    @extend .container;
    height: 100% !important;
}

#introduction-page-cover .elements .introduction
{
    @extend .row;
    @extend .h-100;
    
    align-content: center !important;
}

#introduction-page-cover .elements .introduction .header 
{
    @extend .col-12;
    @extend .text-center;
}

#introduction-page-cover .elements .introduction .header .title
{
    @extend .font-weight-light;
    color: white;
    font-size: 3.0rem;
}

#introduction-page-cover .elements .introduction .header .description
{
    @extend .lead;
    color: white;
    font-size: 2.0rem;
}

.header-cover-image
{
    opacity: 0.25;
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    position: absolute;

    top: 0px;
}

.short-button
{
    @extend .btn;
    @extend .btn-primary;
}

#component-frontpage-showcase
{

}

#component-frontpage-showcase .tabs 
{

}


#component-frontpage-showcase .component-container .tabs ul
{
    @extend .py-3;

    list-style: none;
    width: 100%;
    
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#component-frontpage-showcase .component-container .tabs ul li 
{
    @extend .px-4;
    
}

#component-frontpage-showcase .component-container .tabs .tab
{
    

}

.clickable
{
    cursor: pointer;
}

.active
{
    text-decoration: underline;
}

.component-tab-view
{
    width: 100%;
    height: 400px;
}

.component-container
{
    
    background-color: white;
}

.about-us
{
    @extend .container;
}

.about-us h1 
{
    @extend .my-3;
}

.about-us p 
{
    @extend .my-3;
}

.grecaptcha-badge { visibility: hidden; }


@import './components/contact-us.scss';

@import './components/archive.scss';

@import './components/404.scss';

@media only screen and (max-width: 768px) {
    .hide-on-desktop
    {
        display: block !important;
    }

    .hide-on-mobile
    {
        display: none !important;
    }
}

@import './framework/bootstrap/bootstrap.scss';