
#faq
{
    @extend .container;
}

#faq ul li 
{
    @extend .card-body;
}


#faq ul li h3
{
    @extend .py-3;
    border-bottom:1px solid $secondary-color;
}



#faq ul li:hover h3 
{
    color: $color-2;
    border-bottom:1px solid $color-2;
}


#faq ul li:hover
{
    cursor: pointer;
}

#faq ul li p
{
    @extend .card-text;
    display: none;
}
