.page-products-page
{   
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 0px;
    padding: 0px;
}

.page-product-element
{
    @extend .my-3;

    display: grid;
    
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 32px;
}

.page-product-text-container
{
    grid-column: span 2;
}

.page-product-actions-container 
{
    grid-column: span 3;
}

.page-product-image-container
{
    
}

.page-product-image-container
{
    display: flex;
    justify-content: center;

}

.image-container
{
    height: 250px;
    width: 250px;

}

.page-product-element .product-image-container .image-container img
{

    height: 100%;
    width: 100%;

    object-fit: contain;
}