#frontpage-press
{
    display: grid;
    grid-gap: 0px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    height: 800px;
}

.frontpage-container
{
    @extend .py-4;
    
    width: 100%;
    
}

.test1
{
    background-color: yellow;
}


.test2
{
    background-color: red;
}


.test3
{
    background-color: blue;
}


.test4
{
    background-color: green;
}